<% if flash[:notice].present? %>

    <div class="alert alert-info alert-dismissible m-b-none" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= flash[:notice] %>
    </div>

<% end %>