<div class="row">
  <div class="col-md-4">
    <label><%= t('project.check_armv7_support') %></label>
    <%= select "project", "check_armv7_support", [true.to_s, false.to_s].collect { |v| [I18n.t(v), v] }, {selected: @project.check_armv7_support}, {class: "form-control", name: 'check_armv7_support'} %>
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_arm64_support') %></label>
    <%= select "project", "check_arm64_support", [true.to_s, false.to_s].collect { |v| [I18n.t(v), v] }, {selected: @project.check_arm64_support}, {class: "form-control", name: 'check_arm64_support'} %>
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_pie_support') %></label>
    <%= select "project", "check_pie_support", [true.to_s, false.to_s].collect { |v| [I18n.t(v), v] }, {selected: @project.check_pie_support}, {class: "form-control", name: 'check_pie_support'} %>
  </div>
</div>