<div class="row">
  <div class="col-md-3">
    <label><%= t('project.name') %> <em class="text-muted">(allow 'a-zA-Z0-9')</em></label>
    <input type="text" class="form-control" name="name" required="" value="<%= @project.name %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.app_name') %> <em class="text-muted">(allow 'a-zA-Z0-9')</em></label>
    <input type="text" class="form-control" name="app_name" required="" value="<%= @project.app_name %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.last_version') %> <em class="text-muted">(example: 1.0.24)</em></label>
    <input type="text" class="form-control" name="last_version" required="" value="<%= @project.last_version %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.bundle_id') %> <em class="text-muted">(example: com.mimedia.iOSv2)</em></label>
    <input type="text" class="form-control" name="bundle_id" required="" value="<%= @project.bundle_id %>">
  </div>
</div>