<div class="row">

  <div class="col-md-4">
    <label><%= t('project.check_iphone_icons_support.enabled') %></label>
    <%= select "project", "check_iphone_icons_support", [true.to_s, false.to_s].collect { |v| [I18n.t(v), v] }, {selected: @project.check_iphone_icons_support}, {class: "form-control", name: 'check_iphone_icons_support[enabled]'} %>
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_iphone_icons_support.iphone_2x.name') %>
      <em class="text-muted">(example: AppIcon60x60@2x.png)</em></label>
    <input type="text" class="form-control" name="check_iphone_icons_support[iphone_2x][name]" required="" value="<%= @project.icons.select { |icon| icon.type.iphone_2x? }.first.name %>">
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_iphone_icons_support.iphone_2x.md5') %>
      <em class="text-muted">(example: e73ebed50450ba4b742c23bfbdcfd49c)</em></label>
    <input type="text" class="form-control" name="check_iphone_icons_support[iphone_2x][md5]" required="" value="<%= @project.icons.select { |icon| icon.type.iphone_2x? }.first.md5 %>">
  </div>

</div>

<br/>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_iphone_icons_support.iphone_3x.name') %>
      <em class="text-muted">(example: AppIcon60x60@3x.png)</em></label>
    <input type="text" class="form-control" name="check_iphone_icons_support[iphone_3x][name]" required="" value="<%= @project.icons.select { |icon| icon.type.iphone_3x? }.first.name %>">
  </div>

  <div class="col-md-4">
    <label><%= t('project.check_iphone_icons_support.iphone_3x.md5') %>
      <em class="text-muted">(example: e73ebed50450ba4b742c23bfbdcfd49c)</em></label>
    <input type="text" class="form-control" name="check_iphone_icons_support[iphone_3x][md5]" required="" value="<%= @project.icons.select { |icon| icon.type.iphone_3x? }.first.md5 %>">
  </div>

</div>