<div class="row">
  <div class="col-md-3">
    <label><%= t('project.platform_version') %> <em class="text-muted">(example: 8.1)</em></label>
    <input type="text" class="form-control" name="platform_version" required="" value="<%= @project.platform_version %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.platform_build') %> <em class="text-muted">(example: 12B411)</em></label>
    <input type="text" class="form-control" name="platform_build" required="" value="<%= @project.platform_build %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.xcode_version') %> <em class="text-muted">(example: 0611)</em></label>
    <input type="text" class="form-control" name="xcode_version" required="" value="<%= @project.xcode_version %>">
  </div>

  <div class="col-md-3">
    <label><%= t('project.xcode_build') %> <em class="text-muted">(example: 12B411)</em></label>
    <input type="text" class="form-control" name="xcode_build" required="" value="<%= @project.xcode_build %>">
  </div>
</div>