<%= react_component('ProjectPanel', {
                                          project: @project,
                                          options: [true.to_s, false.to_s].collect { |v| {name: I18n.t(v), id: v} },
                                          save_url: update_project_path(@project),
                                          header: "%s - %s" % [t('project.edit'), @project.name],
                                          button_name: t('project.save')
                                  }) %>
