<%= react_component('ProjectPanel', {
                                          project: @project,
                                          options: [true.to_s, false.to_s].collect { |v| {name: I18n.t(v), id: v} },
                                          save_url: create_project_path,
                                          header: t('project.new'),
                                          button_name: t('project.create')
                                  }) %>
