<div class="panel panel-default">
  <div class="panel-heading font-bold">
    Upload build
  </div>
  <div class="panel-body">
    <form class="form-inline" role="form">

      <div class="form-group">
        <div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled="">
          <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="filestyle-0" class="btn btn-default ">
            Choose file</label></span></div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="1.0.26">
      </div>

      <button class="btn btn-primary">Start check</button>
    </form>
  </div>
</div>