<div class="row">

  <div class="col-sm-6">

    <div class="panel no-border">
      <div class="panel-heading wrapper b-b b-light">
        <h4 class="font-thin m-t-none m-b-none text-muted">Expected</h4>
      </div>

      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="6" placeholder="Expected"></textarea>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="col-sm-6">
    <div class="panel no-border">

      <div class="panel-heading wrapper b-b b-light">
        <h4 class="font-thin m-t-none m-b-none text-muted">Got</h4>
      </div>

      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="6" placeholder="Got"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>