<div class="panel no-border">
  <div class="panel-heading wrapper b-b b-light">
    <h4 class="font-thin m-t-none m-b-none text-muted">Steps</h4>
  </div>

  <ul class="list-group list-group-lg m-b-none">

    <a class="list-group-item" href="">
              <span class="clear">
                <span>Check code sign verify</span>
                <span class="pull-right label bg-success inline m-t-sm">PASSED</span>
                <small class="text-muted clear text-ellipsis">
                  codesign --verify --no-strict -vvvv %{app}
                </small>
              </span>
    </a>

    <div style="padding: 0px 15px 0px 15px;">
      <div class="row">
        <div class="col-md-6 b-r b-light no-border-xs">
          <h4 class="font-thin text-muted">Expected</h4>

          <form role="form">
            <div class="form-group">
              <textarea class="form-control" rows="6" placeholder="Expected"></textarea>
            </div>
          </form>

        </div>

        <div class="col-md-6">
          <h4 class="font-thin text-muted">Got</h4>

          <form role="form">
            <div class="form-group">
              <textarea class="form-control" rows="6" placeholder="Got"></textarea>
            </div>
          </form>

        </div>
      </div>
    </div>

  </ul>
</div>