<div class="panel panel-default">
  <div class="panel-heading font-bold">
    Steps
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-condensed bg-white-only">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Command</th>
        <th style="width:30px;"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Check code sign verify</td>
        <td>codesign --verify --no-strict -vvvv %{app}</td>
        <td>
          <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Check code sign entitlement</td>
        <td>codesign -dvvv --entitlements - %{app}</td>
        <td>
          <a href="" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Check configuration</td>
        <td>otool -L -vh - %{path}</td>
        <td>
          <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Check provision</td>
        <td>openssl smime -inform der -verify -noverify -in %{provision}</td>
        <td>
          <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Check Bundle ID</td>
        <td>defaults read %{app}/Info.plist CFBundleIdentifier</td>
        <td>
          <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>