<%= react_component('UploadForm', {
                                        upload_url: upload_project_path(@project),
                                        title: "Project - #{@project.name}",
                                        subtitle: @project.subtitle,
                                        delete_url: destroy_project_path(@project),
                                        edit_url: edit_project_path(@project)
                                }) %>

<%= render partial: 'shared/flash' %>

<div class="wrapper-md">

  <%= react_component('CheckComponent', {
                                              general_checks: @general_steps.map { |step| {id: step.id, name: step.name, command: step.command} },
                                              icon_checks: @icon_steps.map { |step| {id: step.id, name: step.name, command: step.command} },
                                              live_url: check_project_path

                                      }) %>

</div>