<!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-primary">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <span class="hidden-folded m-l-xs">Build check</span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <%= link_to raw('<span>Logout</span>'), destroy_user_session_path, method: :delete %>
      </li>
    </ul>
    <!-- / navbar right -->
  </div>
  <!-- / navbar collapse -->
</header>
<!-- / header -->


<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">

      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li style="margin-top: 12px">
            <%= link_to raw('<span>New project</span>'), new_project_path %>
          </li>

          <li class="line dk" style="margin: 13px 0px"></li>

          <% current_user.projects.each do |project| %>
              <li>
                <%= link_to raw('<b class="badge bg-info pull-right">iOS</b><span>Project - %s</span>' % project.name), show_project_path(project) %>
              </li>
          <% end %>
        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
<!-- / aside -->