<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= Rails.configuration.site_name %></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="/css/font.css" type="text/css"/>
  <link rel="stylesheet" href="/css/app.css" type="text/css"/>

  <%= javascript_include_tag 'application' %>
  <script src="/js/bootstrap/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css"/>
</head>
<body>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
    different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
    to experience this site.</p><![endif]-->

<div class="app app-header-fixed ">
  <% if root_page? %>
      <link rel="stylesheet" href="/css/root.css" type="text/css"/>
      <%= yield %>
  <% else %>
      <% if current_user %>

          <!-- content -->
          <%= render partial: 'layouts/navbar' %>

          <div id="content" class="app-content" role="main">
            <div class="app-content-body ">

              <%= yield %>

            </div>
          </div>

      <% else %>
          <%= yield %>
      <% end %>
  <% end %>
</div>

<script src="/js/ui-load.js"></script>
<script src="/js/ui-jp.config.js"></script>
<script src="/js/ui-jp.js"></script>
<script src="/js/ui-nav.js"></script>
<script src="/js/ui-toggle.js"></script>
<script src="/js/ui-client.js"></script>

</body>
</html>